@import "tailwindcss";

body {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  color: #111827;
}

main {
  max-width: 760px;
  margin: auto;
}

.nx-prose h1 {
  font-size: 40px !important;
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}

.nx-prose h2 {
  font-size: 28px !important;
  font-weight: 600 !important;
  margin-top: 32px !important;
  margin-bottom: 16px !important;
}

.nx-prose h3 {
  font-size: 22px !important;
  font-weight: 600 !important;
}

.nx-prose p {
  font-size: 16px !important;
  line-height: 1.7 !important;
}